<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sea.goethe.sportpas"
    android:versionCode="6"
    android:versionName="2.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myAppLight" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LearnFrameActivity"
            android:label="@string/title_activity_learn_frame"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LearnSportFragment"
            android:label="@string/title_activity_learn_sport_fragment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DialogFrameActivity"
            android:label="@string/title_activity_dialog_frame"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TipePertama"
            android:label="@string/title_activity_tipe_pertama"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_activity_score"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LearnTabActivity"
            android:label="@string/title_activity_learn_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectQuiz"
            android:label="@string/title_activity_select_quiz"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RewardActivity"
            android:label="@string/title_activity_reward"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
